* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-image: url('file:///C:/Users/PC/Desktop/zuri%20projects/Responsiveness/huddle/bg-hero-desktop.svg');
  height: 10%;
  
  background-color: hsl(193, 100%, 96%);
}

nav {
  display: flex;
  justify-content: space-between;
}



.container {
  padding: 0 8%;
  width: 100%;
  margin: 0;
  
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  opacity: 0.6;
}

.try-it {
  float: right;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  cursor: pointer;
  font-size: 16px;
  padding: 15px 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.try-it:hover {
  opacity: 0.5;
}

.try-it:active {
  color: hsl(0, 0%, 100%);
} 

.header-flex {
  display: flex;
  width: 100%;
  height: 50%;
  padding-top: 5%;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 50%;
}

.header-text {
  width: 50%;
  
}


.header-image > img {
  width: 100%;
}

.get-started {
  background-color:hsl(322, 100%, 66%);
  color: white;
  border: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  cursor: pointer;
  font-size: 16px;
  padding: 15px 60px;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  animation-name: linear;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.get-started:hover {
  opacity: 0.9;
}

.get-started:active {
  opacity: 0.5;
}


.body-flex {
  display: flex;
  flex-direction: column;
  padding: 4% 10% 8% 10%;
}

.body-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 4%;
}

.body-item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 4%;
  
}

.body-image {
  width: 50%;
  
}

.body-text {
  width: 50%;
  padding: 0 5%;
}
  

.body-image > img {
  width: 75%;
  
}

.flow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.small-box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
  padding: 60px;
  display: inline-block;
  position: relative;
  margin-bottom: -50%;
  z-index: 1;
  


}



footer {
  width: 100%;
  background: hsl(192, 100%, 9%);
  color: white;
  padding: 10em 0 2em 0;
  position: relative;
}
.main-footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
}


.section-1 {
  width: 25%;
  padding: 5em 0 0 0;
}
.section-2 {
  padding: 5em 0 0 0;
}
.section-2 li {
  list-style: none;
  margin-top: 1em;
}
.section-3 {
  padding: 5em 0 0 0;
}
.section-3 li {
  margin-top: 1.5em;
  list-style: none;
}
.section-4 {
  padding: 5em 0 0 0;
  display: flex;
}

.section-4 .fa {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  margin-right: 5px;
}


.copyright {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}


@keyframes linear {
  from {
    margin-left: 10%;
  }
  to {
    margin-right: 10%;
  }
}

@media screen and (max-width: 700px) {

  body {
    text-align: center;
  }

  header {
    background-size: cover;
    width: 100%;
  }
  .header-flex {
    flex-direction: column;
  }

  .header-text {
    margin-bottom: 80px;
  }

  .body-items {
    flex-direction: column;
  }  
  
  .body-item2 {
    flex-direction: column-reverse;
  }

  .main-footer {
    flex-direction: column;
    justify-content: center;
  }

  .main-footer, footer > p {
    justify-content: center;
    align-items: center;

  }

  nav {
    /* flex-wrap: nowrap; */
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
  } 
  .nav > img {
   min-width: 230px;
  }

  .header-image {
    width: 100%;
  }
 
  .try-it {
    min-width: 200px;
    
  }

  .get-started {
    min-width: 250px;
  }


}


}